---
---
<footer>
    <div class="socials">
        <a href="#" class="social-link mono">INSTAGRAM</a>
        <a href="#" class="social-link mono">SPOTIFY</a>
        <a href="#" class="social-link mono">YOUTUBE</a>
    </div>
    <p class="mono" style="color: var(--muted); font-size: 0.8rem;">
        © 2026 GLYTCH_MODE // ALL_RIGHTS_RESERVED <br>
        DESIGNED_BY_AI
    </p>
</footer>
