---

---

<section id="identity" class="identity container">
    <h2 class="glitch-text" data-text="SOBRE_MÍ">SOBRE_MÍ</h2>
    <p>
        Sergio Santiago es un cantautor colombiano, nació en Barranquilla
        disfrutando de la cultura musical ya que la mayoría de su familia vienen
        ejerciendo en este campo.
        <br /><br />
        A muy temprana edad Sergio conoció la fama y eso lo llevo a involucrarse por
        los caminos del alcohol y la droga, a la edad de 25 años conoce de Jesús y
        decide caminar con él, desde ese momento toma la de decisión de usar su talento
        para exaltar a Dios. Sergio Santiago se viene afianzando en la música góspel
        dentro de su género. En sus composiciones encontramos melodías innatas que
        forma parte de su inspiración a la hora de componer. Sus canciones están llenas
        de vivencias y experiencias, lo que permite que su música tenga una fuerza
        y se vea reflejada en la gran aceptación por parte de emisoras seculares y
        cristianas.
        <br /><br />
        En la actualidad Sergio sigue radicado en Barranquilla, está casado y disfruta
        de sus hijos. También trabaja en varios temas que se lanzaran en el trascurso
        del año y dirige un reconocido Mariachi de la ciudad.
        <br /><br />
        <span class="mono" style="color: var(--cyan);"
            >// MÚSICA_CRISTIANA // EXPERIMENTAL // ADORACIÓN</span
        >
    </p>
</section>
